<html>
    <head>
        <title>Churdumplin the Healer</title>
        <link href='http://fonts.googleapis.com/css?family=Sacramento|Open+Sans' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="stylesheets/style.css">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>

    <body>
        <div class="block">
            <div class="inner">
                <div class="card">
                    
                    <img class="logo" src="img/churdump.jpg" alt="">
                    <div class="outer">
                        <h3 class="header">Churdumplin the Healer</h3>
                        <p class="sub-header">Visiting Hours 9.8.14</p>
                        <div class="table-container">
                            <div class="table-column-left">M</div><div class="table-column-right">12 - 8pm</div>
                            <div class="table-column-left">T</div><div class="table-column-right">6pm - 8pm</div>
                            <div class="table-column-left">W</div><div class="table-column-right">1:30pm - 6pm</div>
                            <div class="table-column-left">T</div><div class="table-column-right">4:30pm - 7pm</div>
                            <div class="table-column-left">F</div><div class="table-column-right">1pm - 3pm</div>
                            <div class="table-column-left">S</div><div class="table-column-right">1:30pm - 3:30</div>
                            <div class="table-column-left">S</div><div class="table-column-right">10am - 6pm</div>
                        </div>  
                        
                    </div>
                </div>
            </div>
        </div>
        
         
    </body>
</html>