<html>
    <head>
        <title>Churdumplin the Healer</title>
        <link href='http://fonts.googleapis.com/css?family=Sacramento|Open+Sans' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="stylesheets/style.css">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>

    <body>
        <div class="block">
            <div class="inner">
                <div class="card">
                    
                    <img class="logo" src="img/churdump.jpg" alt="">
                    <div class="outer">
                        <h3 class="header">Churdumplin the Healer</h3>
                        <p class="sub-header">{{ data.res }}</p>
                    </div>
                </div>
            </div>
        </div>
        
         
    </body>
</html>